<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Schema List</title>
</head>
<body>

<div layout:fragment="container">
    <script th:inline="javascript">
        var usercode = [[${usercode}]];
        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });

        function refreshtable() {
            $("#schemadata").bootstrapTable('refresh');
        }

        function typedefdetail(schemaid) {
            authorizedget("/api/schema/detail/" + schemaid, null, "JSON", "application/json;charset=UTF-8",
                function (data) {
                    $("#detailusercode").val(data.usercode);
                    $("#detailschemaname").val(data.schemaname);
                    $("#detailorginschema").text(data.orginschema);
                    $("#detaillastupdate").val(data.lastupdate);
                    $("#detaildatabasekind").val(data.databasekind);
                    $("#detail_schema_modal").modal("show");
                },
                function () {
                    alert("connection error!");
                },
                "/apiui/schema/list"
            );
        }

        function typedefedit(schemaid) {
            authorizedget("/api/schema/detail/" + schemaid, null, "JSON", "application/json;charset=UTF-8",
                function (data) {
                    $("#editschemaid").val(data.schemaid);
                    $("#editusercode").val(data.usercode);
                    $("#editschemaname").val(data.schemaname);
                    $("#editorgschema").text(data.orginschema);
                    $("#editlastupdate").val(data.lastupdate);
                    $("#editdatabasekind").val(data.databasekind);
                    $("#edit_schema_modal").modal("show");
                },
                function () {
                    alert("connection error!");
                },
                "/apiui/schema/list"
            );
        }

        function typedefupdate() {
            var schemaid = $("#editschemaid").val();
            var orginschema = $("#editorgschema").val();
            var schemadata = {schemaid: schemaid, orginschema: orginschema};
            if (orginschema.trim() == "") {
                alert('please enter you Type Definition.');
                $("#editorgschema").focus();
                return false;
            } else {
                authorizedpost("/api/schema/update", JSON.stringify(schemadata), "JSON", "application/json;charset=UTF-8",
                    function (data) {
                        if (data.replaced == "true") {
                            alert("save success!");
                            $("#edit_schema_modal").modal("hide");
                        } else {
                            alert("error occurrs")
                        }
                    },
                    null,
                    "/apiui/schema/list",
                );
            }
        }

        function schemadelete(id) {
            authorizedpost("/api/schema/delete/"+id, null, "JSON", "application/json;charset=UTF-8",
                function (data) {
                    if (data.deleted == "true") {
                        alert("delete success!");
                        $("#schemadata").bootstrapTable('refresh');
                    } else {
                        alert("error occurrs")
                    }
                },
                function () {
                    alert("connection error!");
                },
                "/apiui/schema/list"
            );
        }

        $(document).ready(function () {
            var schemainfotable = $("#schemadata").bootstrapTable(
                {
                    ajax:function (request) {
                        authorizedget("/api/schema/list",null,"JSON","application/json;charset=UTF-8",
                            function (msg) {
                                request.success({row:msg});
                                $("#schemadata").bootstrapTable("load",msg);
                                $("#schemadata").bootstrapTable("hideLoading");
                            }
                        )
                    },
                    toolbar: "#toolbar",
                    striped: false,
                    cache: false,
                    pagination: true,
                    sortable: false,
                    sortOrder: "asc",
                    pageNumber: 1,
                    sidePagination: "client",
                    showColumns: true,
                    showRefresh: true,
                    clickToSelect: false,
                    unique: "schemaid",
                    showToggle: false,
                    cardView: false,
                    detailView: false,
                    columns: [
                        {
                            field: 'schemaid',
                            title: 'Schema ID',
                            align: 'center'
                        },
                        {
                            field: 'schemaname',
                            title: 'Schema Name',
                            align: 'center'
                        },
                        {
                            field: 'usercode',
                            title: 'Owner',
                            align: 'center'
                        },
                        {
                            field: 'orgschema',
                            title: 'Type Definition',
                            formatter: function (value, row, index) {
                                return '<a  href="#" onclick="typedefdetail(\'' + row.schemaid + '\')">Type Definition</a>'
                            }
                        },
                        {
                            field: 'schemaid',
                            title: 'DownLoad Schema',
                            formatter: function (value, row, index) {
                                return '<a href="/api/schema/download/' + row.schemaid + '"><span class="glyphicon glyphicon-download-alt"></span></a>';
                            },
                            align: 'center'
                        },
                        {
                            filed: 'lastupdate',
                            title: 'Data Explorer',
                            formatter: function (value, row, index) {
                                return '<a href="/dataexplorer/' + row.schemaid + '" target="_blank">Data Explorer</a>';

                            },
                            align: 'center'
                        },
                        {
                            field: 'createdtime',
                            title: 'Edit',
                            formatter: function (value, row, index) {
                                return '<a  href="#" onclick="typedefedit(\'' + row.schemaid + '\')"><span class="glyphicon glyphicon-pencil"></span></a>';
                            },
                            align: 'center'
                        },
                        {
                            field: 'schemaid',
                            title: 'Delete',
                            formatter: function (value, row, index) {
                                return '<a  onclick="schemadelete(\'' + value + '\')"><span class="glyphicon glyphicon-remove-sign"></span></a>';
                            },
                            align: 'center'
                        }
                    ]
                }
            );

        });

        function new_schema() {
            var schemaname = $("#newschemaname").val();
            var usercode = $("#newusercode").val();
            var orgshcema = $("#neworgschema").val();
            var databasekind =$("#newdatabasekind").val().trim();
            if(databasekind!="mongodb"&&databasekind!="rethinkdb") {
                alert("databasekind can only be mongodb or rethinkdb");
                return;
            }
            var schemadata = {schemaname: schemaname, usercode: usercode, schemacontent: orgshcema,databasekind:databasekind};
            if (schemaname.trim() == "") {
                alert('Please enter your schema name.');
                $("#schemaname").focus();
                return false;
            } else if (orgshcema.trim() == "") {
                alert('Please enter your Type Definition.');
                $("#orgschema").focus();
                return false;
            } else {
                authorizedpost("/api/schema/new",JSON.stringify(schemadata),"JSON","application/json;charset=UTF-8",
                    function (data) {
                        if (data.errors == undefined) {
                            alert("save success!");
                            $("#schemadata").bootstrapTable('refresh');
                            $("#new_schema_modal").modal("hide");
                        } else {
                            alert(data.errors);
                        }

                    },
                    null
                    ,
                    "/apiui/schema/list"
                );
            }

        }
    </script>
    <section>
        <h1>Schema List</h1>
    </section>
    <section class="content">
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new_schema_modal">
                New Schema
            </button>
        </div>
        <div class="modal fade" id="new_schema_modal" tabindex="-1" role="dialog" aria-labelledby="new_schema_label">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="newschemamodal">New Schema</h4>
                    </div>
                    <div class="modal-body">
                        <form id="new_schema_form" action="">
                            <div class="form-group hidden">
                                <label for="newusercode" class="control-label">User Code:</label>
                                <input type="text" class="form-control" id="newusercode" name="usercode"
                                       th:value="${usercode}">
                            </div>
                            <div class="form-group">
                                <label for="newschemaname" class="control-label">Schema Name:</label>
                                <input type="text" class="form-control" id="newschemaname" name="schemaname">
                            </div>
                            <div class="form-group">
                                <label for="neworgschema" class="control-label">Type Definition:</label>
                                <textarea class="form-control" id="neworgschema" name="orgschema" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="newdatabasekind" class="control-label">DataBase Kind:</label>
                                <input class="form-control" id="newdatabasekind" name="databasekind" >
                            </div>
                            <div class="text-center">
                                <span id="newreturnMessage" class="glyphicon"> </span>
                                <button type="button" class="btn btn-default right" data-dismiss="modal">Cancel</button>
                                <button id="newsubmitBtn" type="button" class="btn btn-primary" onclick="new_schema()">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="edit_schema_modal" tabindex="-1" role="dialog" aria-labelledby="edit_schema_label">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="editschemamodal">Modify Type Definition</h4>
                    </div>
                    <div class="modal-body">
                        <form id="edit_schema_form" action="">
                            <div class="form-group hidden">
                                <label for="editschemaid" class="control-label">Schema ID:</label>
                                <input type="text" class="form-control" id="editschemaid" name="schemaid" readonly>
                            </div>
                            <div class="form-group">
                                <label for="editusercode" class="control-label">User Code:</label>
                                <input type="text" class="form-control" id="editusercode" name="usercode" readonly>
                            </div>
                            <div class="form-group">
                                <label for="editschemaname" class="control-label">Schema Name:</label>
                                <input type="text" class="form-control" id="editschemaname" name="schemaname" readonly>
                            </div>
                            <div class="form-group">
                                <label for="editorgschema" class="control-label">Type Definition:</label>
                                <textarea class="form-control" id="editorgschema" name="orgschema" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="editdatabasekind" class="control-label">DataBase Kind:</label>
                                <input class="form-control" id="editdatabasekind" name="databasekind" readonly>
                            </div>
                            <div class="form-group">
                                <label for="editlastupdate" class="control-label">LastUpdate:</label>
                                <input class="form-control" id="editlastupdate" name="lastupdate" readonly>
                            </div>
                            <div class="text-center">
                                <span id="editreturnMessage" class="glyphicon"> </span>
                                <button type="button" class="btn btn-default right" data-dismiss="modal">Cancel</button>
                                <button id="submitBtn" type="button" class="btn btn-primary" onclick="typedefupdate()">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="detail_schema_modal" tabindex="-1" role="dialog"
             aria-labelledby="detail_schema_label">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="detailschemamodal">Type Definition</h4>
                    </div>
                    <div class="modal-body">
                        <form id="detail_schema_form" action="">
                            <div class="form-group">
                                <label for="detailusercode" class="control-label">User Code:</label>
                                <input type="text" class="form-control" id="detailusercode" name="usercode" readonly>
                            </div>
                            <div class="form-group">
                                <label for="detailschemaname" class="control-label">Schema Name:</label>
                                <input type="text" class="form-control" id="detailschemaname" name="schemaname"
                                       readonly>
                            </div>
                            <div class="form-group">
                                <label for="detailorginschema" class="control-label">Type Definition:</label>
                                <textarea class="form-control" id="detailorginschema" name="orginschema" rows="10"
                                          readonly></textarea>
                            </div>
                            <div class="form-group">
                                <label for="detaildatabasekind" class="control-label">DataBase Kind:</label>
                                <input class="form-control" id="detaildatabasekind" name="databasekind" readonly>
                            </div>
                            <div class="form-group">
                                <label for="detaillastupdate" class="control-label">Last Update:</label>
                                <input class="form-control" id="detaillastupdate" name="lastupdate" readonly>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-default right" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped" id="schemadata">
            </table>
        </div>
    </section>

</div>
</body>
</html>